@import url(https://fonts.googleapis.com/css?family=Roboto);
#cardanimation-tdv a {
  text-decoration: none !important;
}
#cardanimation-tdv {
  font-family: "Roboto";
}
#cardanimation-tdv .card-container {
  width: 650px;
  height: 150px;
  margin: 0px auto;
  margin-top: 30px;
}

.card {
  border: none !important;
}

#cardanimation-tdv .card {
  display: inline-block;
  width: 100px;
  height: 100px;
  -webkit-perspective: 200px;
  perspective: 200px;
}
#cardanimation-tdv .card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 4.5em;
  line-height: 100px;
  color: white;
  text-align: center;
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-shadow: 2px 2px 3px silver;
  box-shadow: 2px 2px 3px silver;
}
#cardanimation-tdv .card__face--back {
  font-size: 6em;
  font-weight: 900;
  background-color: purple;
  -webkit-transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
  -webkit-animation: backanim 6s infinite ease-in-out both alternate;
  animation: backanim 6s infinite ease-in-out both alternate;
  z-index: -100;
}
#cardanimation-tdv .card__face--front {
  background-color: #6382a1;
  -webkit-transform: rotatey(0deg);
  -ms-transform: rotatey(0deg);
  transform: rotatey(0deg);
  -webkit-animation: frontanim 6s infinite ease-in-out both alternate;
  animation: frontanim 6s infinite ease-in-out both alternate;
}
@-webkit-keyframes frontanim {
  40%,
  70% {
    -webkit-transform: rotatey(180deg);
    transform: rotatey(180deg);
    background-color: purple;
  }
  25%,
  85% {
    -webkit-transform: rotatey(0deg);
    transform: rotatey(0deg);
    background-color: #6382a1;
  }
}
@keyframes frontanim {
  40%,
  70% {
    -webkit-transform: rotatey(180deg);
    transform: rotatey(180deg);
    background-color: purple;
  }
  25%,
  85% {
    -webkit-transform: rotatey(0deg);
    transform: rotatey(0deg);
    background-color: #6382a1;
  }
}
@-webkit-keyframes backanim {
  40%,
  70% {
    -webkit-transform: rotatey(0);
    transform: rotatey(0);
  }
  25%,
  85% {
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
  }
}
@keyframes backanim {
  40%,
  70% {
    -webkit-transform: rotatey(0);
    transform: rotatey(0);
  }
  25%,
  85% {
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
  }
}
#cardanimation-tdv .front1,
#cardanimation-tdv .back1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
#cardanimation-tdv .front2,
#cardanimation-tdv .back2 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
#cardanimation-tdv .front3,
#cardanimation-tdv .back3 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
#cardanimation-tdv .front4,
#cardanimation-tdv .back4 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
#cardanimation-tdv .front5,
#cardanimation-tdv .back5 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
#cardanimation-tdv .front6,
#cardanimation-tdv .back6 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
#cardanimation-tdv .back1 span {
  display: inline-block;
  line-height: 100px;
  padding-left: 5px;
  padding-bottom: 10px;
  vertical-align: middle;
  font-size: 0.34em;
  -webkit-transform: rotatez(-45deg) translatey(-10px);
  -ms-transform: rotate(-45deg) translatey(-10px);
  transform: rotatez(-45deg) translatey(-10px);
}

@media screen and (max-width: 350px) {
  #cardanimation-tdv .card-container {
    display: none;
  }
}
