.nom {
  font-family: "Kreon";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;

  color: #34623f;
}

h2 {
  /* Description */

  font-family: "Kreon";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;

  color: #34623f;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  /* padding-top: 25px; */
  font-family: "Open sans", Arial, sans-serif;
}

.header-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8rem;
}

.header-navigation a {
  font-size: 0.8rem;
}

.header-navigation .breadcrumb {
  margin-bottom: 0;
  background-color: transparent;
  padding: 0.2rem 1rem;
}

.header-navigation .btn-group {
  margin-left: auto;
}

.header-navigation .btn-share {
  position: relative;
}

.header-navigation .btn-share::after {
  content: "";
  width: 1px;
  height: 50%;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}

.store-body {
  display: flex;
  flex-direction: row;
  padding: 0;
  flex-direction: row-reverse;
}

.store-body .product-info {
  width: 60%;
  /* border-right: 1px solid rgba(0, 0, 0, 0.125); */
}

.store-body .product-payment-details {
  width: 40%;
  padding: 197px 15px 0 15px;
}

.product-info .product-gallery {
  display: flex;
  flex-direction: row;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.125); */
}

.product-gallery-featured {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 0;
  cursor: zoom-in;
}

.product-gallery-thumbnails .thumbnails-list li {
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
  width: 70px;
  height: 70px;
}

.thumbnails-list li img {
  display: block;
  width: 100%;
}

.product-gallery-thumbnails .thumbnails-list li:hover::before {
  content: "";
  width: 3px;
  height: 100%;
  background: #007bff;
  position: absolute;
  top: 0;
  left: 0;
}

.product-info .product-seller-recommended {
  padding: 20px 20px 0 20px;
}

.product-comments textarea {
  height: 50px;
}

.last-questions-list li {
  margin-bottom: 20px;
}

.last-questions-list li span {
  padding-left: 10px;
}

@media all and (max-width: 990px) {
  .header-navigation .btn-group {
    display: none;
  }
}

.product-description {
  width: 166%;
  padding: 6%;
}
.desc1 {
  color: #34623f;
  margin-top: 4%;
}

.desc {
  color: #34623f;
}
.card {
  border: none !important;
}

body > main > div > div > div {
  padding: 2% !important;
}

.titre {
  /* Berceau de Moise */

  font-family: "Kreon";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;

  color: #34623f;
}

main {
  background-color: white;
}
.help {
  display: flex;
  width: 455px;
  height: 165px;
  background: #e4dfdf;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  align-content: space-around;
}

.containerDetail {
  /* Rectangle 121 */

  box-sizing: border-box;

  position: absolute;
  width: 458px;
  height: 360.5px;

  background: #ffffff;
  border: 1px solid #c0c0c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
.stock {
  margin-left: 10px !important;
}

.box1 {
  display: flex;
  flex-direction: column;
  line-height: 0px;
}

.box2 {
  display: flex;
  flex-direction: column;
  line-height: 0px;
}

.parag {
  /* Détail de ma commande */
  /* text-align: center; */
  font-family: "KoHo";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  /* line-height: 0px; */
  margin-left: 3%;
  color: #34623f;
}

#solde {
  text-align: center;
  /* color: #191937; */
  font-size: 24px;
  font-weight: 700;
  white-space: nowrap;
}

.btn {
  width: 100%;
  margin: 15px 0 30px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  padding: 12px 29px;
  width: 233px;
  height: 33px;
  text-transform: uppercase;
  color: white;
  background-color: #34623f;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  margin-left: -19%;
}

.button {
  display: flex;
  justify-content: center;
}

.btn:focus {
  outline: none;
}

.total,
.promo {
  /* Total: */

  font-family: "KoHo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-top: -30%;
  color: #34623f;
}
.totals-value {
  /* 19$ */

  font-family: "KoHo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  color: #99621e;
}

.prix3 {
  /* -9$ */

  font-family: "KoHo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #991e1e;
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: #34623f;
}

body
  > main
  > div
  > div
  > div
  > div
  > div
  > div.product-info
  > div.product-gallery
  > div
  > img {
  width: 540px;
  height: 540px;
}

.inputqt {
  width: 35%;
  height: 28%;
}

.htest {
  margin-left: 4%;
  margin-top: 1%;
}

.form {
  display: flex;
}

.R {
  margin-left: -10%;
}

.L {
  margin-left: 10%;
}
.total {
  margin-left: -10%;
}

.product-gallery-featured:hover {
  --zoom: 3;
}
.product-gallery-featured img {
  position: absolute;

  -o-object-fit: cover;
  object-fit: cover;
  transform: scale(var(--zoom, 1));
  transform-origin: var(--x) var(--y);
  transition: transform 0.3s ease;
}

.product-gallery-featured {
  position: relative;
  width: 540px;
  height: 540px;
  overflow: hidden;
  cursor: crosshair;
}
.button {
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 100%;
  margin: 15px 10px 30px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  padding: 12px 29px;
  width: 233px;
  height: 33px;
  text-transform: uppercase;
  color: white;
  background-color: #34623f;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  margin-left: -1%;
}
